@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

/* General Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

/* Dashboard Container */
.dashboard-container {
   display: flex;
   height: 100vh;
}

/* Main Content */
.main-content {
   flex-grow: 1;
   background-color: #f0f8ff;
   display: flex;
   flex-direction: column;
}

/* Dashboard Content */
.dashboard-content {
   flex-grow: 1;
   position: relative;
   padding: 20px;
   background-color: white;
   border-radius: 15px;
   margin: 20px;
   background-image: url(../../images/medi.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 600px 550px;
   animation: fadeIn 1s ease-in;
}

.welcome-message {
   display: flex;
   margin-bottom: 20px;
}


/* Other styling */
.content-container {
   display: flex;
   gap: 20px;
   justify-content: space-between;
}

.dashboard {
   flex: 1;
}

.calendar-container {
   background-color: #f0f8ff;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   margin-bottom: 20px;
}


.date {
   flex: 1;
   text-align: right;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header .see-all {
   color: #683CFC;
}

.generate {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* Center items horizontally */
   justify-content: center;
   /* Center items vertically */
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.report {
   display: inline-block;
   margin: 250px auto;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   background-color: #007bff;
   color: white;
   /* Apply the fade-in animation */
}

.report:hover {
   cursor: pointer;
   transform: translateY(-5px);

}

a {
   text-decoration: none;
   color: inherit;
   /* Inherits the color from the parent element */
}