.main-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #f0f8ff;
   border-bottom: 2px solid #d1d9f1;
}
.header-left h1 {
   font-size: 24px;
   color: #172554;
}
.header-right {
   display: flex;
   align-items: center;
}
.user-details {
   display: flex;
   align-items: center;
   margin-right: 20px;
   margin-left: 20px;
}
.user-avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #d1d9f1;
   margin-right: 10px;
}
.user-info p {
   margin: 0;
   font-size: 14px;
   color: #172554;
}
.notification-icon {
   position: relative;
   padding-top: 1px;
   font-size: 28px;
   color: #a0a0a0;
}
.notification-badge {
   display: none; /* Hidden by default */
   position: absolute;
   top: 1.5px;
   right: -4px;
   width: 14px;
   height: 14px;
   background-color: red;
   border-radius: 50%;
   border: 2px solid white;
}
.user-avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   background-color: #ccc;
}