.main-content {
    flex-grow: 1;
    background-color: #f0f8ff; /* Light blue background */
    display: flex;
    flex-direction: column;
}

.items{

    margin-top: 50px;
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .patient-info {
    margin-bottom: 30px;
  }
  
  .patient-info h2 {
    margin-bottom: 10px;
    color: #333333;
    border-bottom: 2px solid #e0e0e0;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 22px;
  }
  
  .patient-info p {
    margin: 5px 0;
    color: #555555;
    font-size: 18px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-blue {
    background-color: #4a90e2;
    text-align: center;
  }
  
  .btn-purple {
    background-color: #9b59b6;
  }
  
  .btn-green {
    background-color: #2ecc71;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  